
body{
    clear: both;
}
*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: dodgerblue;
}
#Brand{
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-top: -13px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-nav > li > a{
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 0;
}


/* 页面主体 CSS*/
.homepage_nav{  /* 主体框架*/
    position: absolute;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 53px;
    margin-left: 5px;
}

/* 信息展示 css */
.info_display{
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 0;
    /*background-color: red;*/
}