{% load staticfiles %}
{% load rbac %} <!-- 引入 rebc 组件中的 rbac 模块-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,
                   maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/rbac/css/rbac.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/bs/bootstrap/js/bootstrap.js"></script>
    <script src="/static/rbac/js/rbac.js"></script>
    {% block css %}

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href=" ">
                <img id="Brand" src="/static/img/logo.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: white;font-weight: bold;font-size: 25px;">
                XXX 公司
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">资产管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">用户信息</a></li>
                <li><a href="#"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">使用说明 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">系统介绍</a></li>
                        <li><a href="#">使用说明</a></li>
                        <li><a href="#">不知道什么了</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">当前用户: {{ request.session.username }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">选项 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人中心</a></li>
                        <li><a href="#">资料修改</a></li>
                        <li><a href="#">使用帮助</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu_bar pull-left">
    <!-- 引入 rebc 组件中的 rbac 模块中的 multi_menu 函数 并传参-->
    {#    {% static_menu request %}#}
{#    {% multi_menu request %}#}
</div>
<div class="homepage_nav">
    <div class="homepage_title">
        <!-- 引入 rebc 组件中的 rbac 模块中的 homepage_nav 函数 并传参-->
{#        {% homepage_nav request %}#}
    </div>
    <div class="info_display">
        {% block content %}{% endblock %}
    </div>
</div>
{% block js %}{% endblock %}
</body>
</html>
