{% extends 'rbac/base.html' %}
{% block css %}
    <style type="text/css">
        #id_icon li{
            float: left;
            padding: 6px;
            padding-left: 0;
            width: 60px;
        }
        #id_icon li i{
            font-size: 18px;
            margin-left: 2px;
            color: #6d6565;
        }
    </style>
{% endblock %}

{% block title %}登顶科技{% endblock %}

{% block content %}
    <div class="dd-container">
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}:</label>
                    <div class="col-sm-8">
                        {{ field }}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-8">
                    <input type="submit" value="保存" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock %}