<!-- 二级菜单模板-->
<div class="menu">
    {% for item in menu_dict.values %}
        <div class="item">
            <div class="first_menu">
                <span class="icon_wrap">
                    <i class="fa {{ item.icon }}"></i>
                </span>
                {{ item.title }}
            </div>
            <div class="multi_menu {{ item.class }}">
                {% for multi in item.children %}
                        <li>
                            <a class="{{ multi.class }}" href="{{ multi.url }}">|-&nbsp; {{ multi.title }}</a>
                        </li>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
