<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bs/bootstrap/css/bootstrap.css">
    <style type="text/css">
        #err_icon{
            border-radius: 15px;
        }
        .d{
            margin-top: 15px;
        }
    </style>
    <title>Error</title>
</head>
<body>
    <div class="container" style="margin-top: 200px">
        <div class="text-center">
            <a href="/customer/list/"><img src="../static/img/error_page.png" id="err_icon" alt=""></a>
            <p class="d">未获取到您的权限信息，请检查是否已登录~！</p>
            <p><a href="/login/" >返回登录页面</a></p>
        </div>
    </div>
</body>
</html>