<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>数据列表</h3>
<table border="1px">
    <thead>
        <tr>
            {% for item in header_list %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in body_list %}
            <tr>
                {% for ele in row %}
                    <td>{{ ele }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>